@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.stroke-navbar {
  stroke: white;
}

.bg-10pad {
  padding-left: 20rem;
}

@media only screen and (max-width: 768px) {
  .bg-10pad {
    padding: unset;
  }
}
.bg-dashboard {
  background-color: black;
  padding-bottom: 35rem;
}

@media only screen and (max-width: 768px) {
  .bg-dashboard {
    padding-bottom: 10rem;
    padding-left: 0rem;
  }
}

.fixedd {
  position: fixed;
  top: 0;
}

.stickyy {
  position: sticky;
  top: 0;
}

.heroo {
  position: relative;
  background-color: black;
}

.herooo {
  position: relative;
  background-color: black;
  padding-bottom: 2rem;
}
/* Navbar en horizontal */
.navbarr {
  position: fixed;
  z-index: 1;
  height: -webkit-fill-available;
  background-color: white;
  border-right-width: thin;
}

/* Navbar en vertical*/
@media only screen and (max-width: 768px) {
  .navbarr {
    height: auto;
    width: -webkit-fill-available;
    background-color: white;
    border-right-width: inherit;
    border-bottom-width: thin;
    justify-content: space-between;
    display: flex;
  }
}

.footerrr {
  background-color: crimson;
}


/* Cambia el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 2px;
  background-color:transparent;
}

/* Cambia el color de la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Cambia el color y estilo del botón de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5px;
}

/* Cambia el color cuando se desplaza el botón de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.content-center {
  justify-content: center;
  display: grid;
}

@media only screen and (max-width: 768px) {
  .content-center{
    display: inline-grid;
  }
}

@media only screen and (max-width: 768px) {
  .menu-m {
    display: none;
    }
}

@media only screen and (max-width: 2000px) {
  .menu-d {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .menu-dd {
    display: inline-grid; /* Muestra el div en dispositivos móviles */
  }
}

/* Estilos para dispositivos de escritorio (768px o más de ancho) */
@media only screen and (min-width: 768px) {
  .menu-dd {
    display: none; /* Oculta el div en dispositivos de escritorio */
  }
}

.menu-ds {
  padding-left: 10rem;
}

@media only screen and (max-width: 768px) {
  .menu-ds {
    padding: unset;
  }
}
