@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: lavender;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.stroke-navbar {
  stroke: white;
}

.bg-dashboard {
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .bg-dashboard {
    padding: unset;
  }
}

.fixedd {
  position: fixed;
  top: 0;
}

.stickyy {
  position: sticky;
  top: 0;
}

.heroo {
  position: relative;
  background-color: black;
  padding-bottom: 10rem;
}

.herooo {
  position: relative;
  background-color: black;
  padding-bottom: 2rem;
}

.navbarr {
  position: fixed;
  z-index: 1;
  height: -webkit-fill-available;
  background-color: black;
  border-right-width: thin;
}
@media only screen and (max-width: 768px) {
  .navbarr {
    height: auto;
    width: -webkit-fill-available;
    background-color: black;
  }
}

/*@media (max-width: 768px) {
  .navbarr {
    height: unset;
    border-right-width: inherit;
    width: -webkit-fill-available;
  }
  
}*/

.footerrr {
  background-color: crimson;
}


/* Cambia el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 2px;
  background-color:transparent;
}

/* Cambia el color de la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Cambia el color y estilo del botón de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5px;
}

/* Cambia el color cuando se desplaza el botón de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.content-center {
  justify-content: center;
  display: grid;
}

@media (max-width: 768px) {
  .content-center{
    display: inline-grid;
  }
}